img{
    border-radius: 10%;
    /* margin-left: 2%; */
    /* margin-top: 2%; */
    margin: 1%;
   
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;

    
}
